pymupdf
apache-airflow
google-cloud-storage==2.18.2
google-cloud-bigquery==3.26.0
pytest
beautifulsoup4==4.12.3
pandas
ml-metadata
google-cloud==0.34.0
google-cloud-aiplatform==1.71.1
scikit-learn
rouge-score==0.1.2
evaluate==0.4.0
